
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="45" align="left" valign="top" style="font-size:45px; line-height:45px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="left" valign="top">
                                <table border="0" align="center" cellpadding="16" cellspacing="0" class="two-left-inner">
                                    <tr>
                                        <td><img src="<%= baseURL %>/images/mail/facebook-f-brands.svg" alt="" height="24" /></td>
                                        <td><img src="<%= baseURL %>/images/mail/twitter-brands.svg" alt="" height="24" /></td>
                                        <td><img src="<%= baseURL %>/images/mail/instagram-brands.svg" alt="" height="24" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top">
                                <table width="300" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left-inner">
                                    <tr>
                                        <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#354052; line-height:24px;" >
                                            <multiline>Copyright © 2020 TFT. All Rights Reserved. task@TFT.com | +91 (800)123-90-87</multiline>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#354052; line-height:24px;" >
                                            <unsubscribe>Unsubscribe</unsubscribe>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="65" align="left" valign="top" style="font-size:65px; line-height:65px;">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--Main Table End-->
    </body>
</html>