<%- include('header'); -%>
    <table border="0" align="center" cellpadding="0" cellspacing="0" class="two-left-inner" style="width: 100%;">
        <tr>
            <td valign="top" style="font-family:'Open Sans', sans-serif, Verdana; font-size:24px;font-weight:normal; color:#007AC2;" >
                <img src="<%= baseURL %>/images/TFT.svg" width="212" alt="TFT" />
            </td>
        </tr>
        <tr>
            <td valign="top" style="font-family:'Open Sans', sans-serif, Verdana; font-size:24px;font-weight:normal; color:#007AC2;" >
                <img src="<%= baseURL %>/images/mail-welcome-icon.png" alt="TFT" />
            </td>
        </tr>
        <tr>
            <td valign="top" style="font-family:'Open Sans', sans-serif, Verdana; font-size:50px;font-weight:normal; color:#354052;" >
                Yay! Thank you for registering to <b>TFT.</b>
            </td>
        </tr>
        <tr>
            <td valign="top" style="font-family:'Open Sans', sans-serif, Verdana; font-size:27px;font-weight:normal; color:#354052;" >
                You’re the coolest person in all the land. Before we get started, we’ll need to verify your email.
            </td>
        </tr>
        <tr>
            <td height="30" align="center" valign="top" style="font-size:30px; line-height:30px;">&nbsp;</td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table border="0" align="center" cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tr>
                        <td height="70" align="center" valign="middle" style="background:#007AC2; font-family:'Open Sans', Verdana, Arial; font-size:30px; color:#FFF; font-weight:normal; line-height:70px; -moz-border-radius: 4px; border-radius: 4px;" >
                            <multiline><a href="<%= linkurl %>" style="text-decoration:none; color:#FFF;">Verify your Email</a></multiline>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
<%- include('footer'); -%>