<h3>Dear {{name}}</h3>
<p>Click <a href="{{linkurl}}">here</a> to confirm your email address.</p>
<p>If the above link does not work, you can paste the following address into your browser.</p>
<a href="{{linkurl}}">{{linkurl}}</a>