.app-course {

}

.app-course-setup-view {
    blockquote {
        padding: 1rem 2rem;
        border: solid 3px #ededed;
        border-radius: 1rem;
        display: inline-block;
        &:before {
            content: '“';
            font-size: 4rem;
            position: absolute;
            margin-left: -25px;
            margin-top: -20px;
        }
        &:after {
            content: '”';
            font-size: 4rem;
            position: absolute;
            margin-top: -20px;
        }
        * {
            margin: 0;
        }
    }
    pre,.pre {
        font-size: inherit;
        font-family: inherit;
    }
    .fill-in-the-blanks-field {
        border:none;
        border-bottom:solid 1px #080808; 
        background-color: transparent; 
        text-align: center;
        &:focus {
            outline: none;
        }
    }
}

.course-note {
    .rich-editor {
        .tox.tox-tinymce {
            border: none;
        }
    }
}
.app-course-setup-create {
    .rich-editor {
        .tox.tox-tinymce {
            border: none;
            .tox-toolbar__primary {
                background: none;
                border-bottom: solid 1px $separator-color-light;
            }
            .tox-toolbar__group {
                border-color: $separator-color-light;
            }
            .tox-statusbar {
                border-color: $separator-color-light;
            }
        }
    }
}